.main {
    padding: 20px;
    height: 100vh;

}
.logo{
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.role{
    color: blanchedalmond;
    font-size: 30px;
    margin-top: -10px;
}

.sidebar {
    background-color: #00352F;
    border-radius: 5px;
    box-shadow: 0 0 5px #CEDC00;
    margin-right: 20px;
    min-height: 100%;
    padding: 10px;
    
}



.content {
    width: 100%;
    height: 100%;
}

.header {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-bottom: 20px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.body {
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    height: 82vh;
    width: 100%;
    padding: 15px;
}

.menu{
    margin-top: 100px;
    padding: 0 10px;
}
.menu-item{
    margin-top: 30px;

}

.menu-item a{
    color: rgba(255, 255, 255, 0.845);
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px;
}

.menu-item i{
    color: rgba(255, 255, 255, 0.845);
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
}

.active-menu-item{
    color: white;
    background-color: #00594F;
    padding: 5px;
    border-radius: 5px;
}

.header-action-icon{
    font-size: 30px;
    color: black !important;
    cursor: pointer;
    padding-left: 10px;
}



@media screen and (max-width:768px) {
    .menu{
        padding: 0 5px;
    }
}